body {
    background-size: cover;
    background-attachment: fixed;
    font-family: monospace;
}

.unexploded {
    background-image: url('./img/simcity.jpg');
}

.exploded {
    background-image: url('./img/explosion.jpg');
}

.red {
    color: #f00;
}

.green {
    color: #0f0;
}

.mainbox {
    width: 200px;
    margin: 5% auto;
    /* background-color: #000; */
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALElEQVQYV2NkYGD4b2ZmxoAMGEGCIAGQxKlTp8A0XBCmEi4IUwWTAKtEFwQAByYP58t/fmkAAAAASUVORK5CYII=);
    text-align: center;
}
.mainbox div {
    padding: 2%;
}

.timerbox p {
    font-size: 1.5em;
}

.wirebox {
}

.resetbox {
}

button {
    width: 80%;
    margin-bottom: 10px;
}